<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhd.demolock">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lhd.activity.Main"></activity>
        <activity android:name="com.lhd.activity.Test"></activity>
        <!--This part is inside the application-->
        <receiver android:name="com.lhd.broadcast.CallRecerver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.lhd.broadcast.SMSRecerver">
            <intent-filter>
                <category android:name="android.provider.Telephony.SMS_RECEIVED"></category>
            </intent-filter>
        </receiver>
        <service
            android:name="com.lhd.service.MyService"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <service android:name="com.lhd.service.ShowLock" />

        <receiver android:name="com.lhd.broadcast.BroadcastScreenOnOff">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.lhd.view.broadcast.BootBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.lhd.activity.Flag">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lhd.activity.SecurityQuestion" />
        <activity android:name="com.lhd.view.activity.SelectTypeLock" />
        <activity android:name="com.lhd.view.activity.SetImageBackground" />
        <activity android:name="com.lhd.view.activity.MainActivity">

        </activity>

        <service android:name="com.lhd.view.service.LockScreen" />

        <activity android:name="com.lhd.activity.DisHome"></activity>
        <activity android:name="com.lhd.view.activity.MaPinActivity"></activity>
        <activity android:name="com.lhd.view.activity.SetPinActivity"></activity>
        <activity
            android:name="com.lhd.activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.lhd.view.activity.SetLockSmallActivity" />
        <activity android:name="com.lhd.view.activity.SetLockLargeActivity" />
        <activity android:name="com.lhd.view.activity.ViewBackgroundFormStore" />
        <activity android:name="com.lhd.view.activity.ViewBackgroundFromDrawable" />
        <activity android:name="com.lhd.view.activity.ChangePinCode2"></activity>
    </application>

</manifest>